body {
    font-family: Arial, sans-serif;
    background-color: #2e2e2e;
    text-align: center;
    padding: 20px;
}

h2 {
    color: #0057b8;
}

.container {
    background: white;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 87, 184, 0.2);
    border: 2px solid #add8e6; /* Azul claro */
}

video, audio {
    width: 100%;
    margin-top: 10px;
}
/* Estilo para o botão voltar para o topo */
#voltarTopo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  /* Estilo para os botões  Dos Links*/
.botao {
    background-color: #5b48b3;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 200px;
    margin: 10px; /* Espaçamento entre os botões */
 }
 
 .botao:hover {
    background-color: #218838;
 }
 
 /* Estilo para o container dos botões */
 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que os botões quebrem linha se necessário */
    gap: 20px; /* Espaçamento entre os botões */
    margin-top: 50px;
 }